@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;1,300;1,400;1,700&family=Open+Sans:wght@300;400&display=swap");
body {
  margin: 0;
  padding: 0;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(8, 65, 20, 0.7)), to(rgba(8, 65, 20, 0.7))), url("/img/back.jpg");
  background: linear-gradient(0deg, rgba(8, 65, 20, 0.7), rgba(8, 65, 20, 0.7)), url("/img/back.jpg");
  background-size: cover;
  padding: 20px;
}

@media (max-width: 1400px) {
  .hero {
    padding-bottom: 180px;
  }
}

.hero-content {
  margin: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#logo-hero {
  width: 10%;
}

a {
  text-decoration: none;
  color: #f1f8e9;
  font-weight: 600;
  text-transform: uppercase;
}

#btn-hero {
  height: 60px;
  background-color: rgba(18, 39, 23, 0);
  width: 300px;
  border: #ffffff 3px solid;
  font-size: 15px;
  margin-top: 30px;
}

#btn-hero:hover {
  height: 60px;
  background-color: #181818;
  width: 300px;
  border: #ffffff 3px solid;
  font-size: 15px;
}

p.hero-content {
  color: #fff8e1;
  width: 90%;
  text-align: center;
}

h1.hero-content {
  color: beige;
  font-size: 50px;
  font-family: 'Merriweather', serif;
  text-align: center;
  font-weight: 700;
}

h3.hero-content {
  color: beige;
  font-size: 24px;
  font-family: 'Merriweather', serif;
  text-align: center;
  font-weight: 300;
  font-style: italic;
}

p.hero-content {
  color: beige;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-weight: 300;
  line-height: 30px;
}

h1 {
  text-align: center;
  font-weight: 700;
  font-family: 'Merriweather', serif;
  text-transform: uppercase;
  font-size: 36px;
  margin: 0;
  padding: 50px 0px;
}

.programContainer {
  background-color: #fff8e1;
}

.programs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 100px;
}

@media (max-width: 1000px) {
  .programs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.program {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -webkit-box-flex: inherit;
      -ms-flex-positive: inherit;
          flex-grow: inherit;
  width: 30%;
  text-align: center;
  font-weight: 700;
  font-family: 'Merriweather', serif;
  text-transform: capitalize;
}

.programImg {
  width: 260px;
  border-radius: 0px 150px 0px 150px;
  max-height: 260px;
  margin-top: 30px;
  -webkit-box-shadow: 2px 2px 1px #474747;
          box-shadow: 2px 2px 1px #474747;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.gallery > img {
  width: 15%;
  padding-right: 20px;
  padding-top: 20px;
  -webkit-transition: width 1s, height 1s;
  transition: width 1s, height 1s;
  border-radius: 0px 150px 0px 150px;
}

.gallery > img:hover {
  width: 30%;
}

@media (max-width: 1000px) {
  .gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gallery > img {
    width: 70%;
    padding-right: 0;
  }
  .gallery > img:hover {
    width: 90%;
  }
  .mission {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: inherit;
        flex-wrap: inherit;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.galleryContainer {
  padding-bottom: 160px;
  padding-top: 20px;
  background: linear-gradient(45deg, #63512a, #1c4725);
  color: white;
}

.missionContainer {
  background-color: #fff8e1;
}

.mission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 70px;
}

.videoText h3 {
  font-family: 'Merriweather', serif;
  font-size: 25px;
}

.videoText {
  width: 70%;
  font-family: Open Sans;
  font-weight: 500;
  text-align: justify;
  line-height: 35px;
  margin: 0px 50px;
}

.video {
  text-align: center;
  width: 80%;
}

.video > a > img {
  width: 70%;
}
/*# sourceMappingURL=styles.css.map */

.infoContainer {
  background: linear-gradient(45deg, #f1d996f8, #087a34d3);
  padding-top: 50px;
  font-family: Open Sans;
}

.info {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.charText {
  color: #3a4d3a;
  font-family: 'Merriweather', serif;
}

h4 {
  margin-bottom: -9px;
}

.web {
  margin-top: 70px;
  margin-bottom: 30px;
}

ul {
	align-items: center;
  display: flex;
  flex-wrap: wrap;
	justify-content: center;
  list-style: none;
  margin-bottom: 80px;
  padding-left: 0;
  text-align: center;
	}

img.logos {
	display: block;
  margin-left: 30px;
  margin-right: auto;
  max-height: 30vh;
  max-width: 20vw;
  }